<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge"></meta>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <title>Home</title>
</head>
<body>
    <div class="wrapper">
        <h2>Home</h2>
        <p>Welcome, {{ session['first_name'] }}!</p>
        <a class="button button-primary" href="/logout">Log Out</a>
    </div>
</body>
</html>