<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Basic Validation</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    </head>
    <body>
        <h3>Enter a Valid(Any) Name!</h3>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h3>Enter a Valid(Any) Email!</h3>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{message}}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form action='/process', method='post'>
          <label for="email">Email</label>
          <input id="email" name="email" type="text">
          <button>Submit</button>
        </form>
        <form action='/process' method='POST'>
            Name:<input type="text" name="name">
        <input type="submit" value="Submit">
    </form>
    </body>
</html>